@charset "UTF-8";

#container {
	border:1px solid black;
	width:1200px;
	margin: 0 auto;
}

#header{
	border-bottom: 1px solid black;
}

#left{
	width: 199px;
	float: left;
}


/*내용이 더 길면 들어갈 공간이 없어서 들어가지 않는다.*/
#main{
	width: 1000px; 
	float: left;
	border-left: 1px solid black;
}

#footer{
	border-top: 1px solid black;
	clear: both;
}



